// Font size
$text__small: 0.8rem;
$text__medium: 1.5rem;
$text__large: 2rem;
$text__Xlarge: 2.5rem;

//  Phone Font sice
$text__phone: 0.5rem;

// Font
$font__footer__koibird: "Londrina Outline", cursive;

// Color
$main__color: rgb(231, 252, 83);
